threedi_models_and_simulations.zip
plugin_reloader/
valuetool/
DataPlotly/
qgis-light/
QuickWKT/
Serval/
threedi_schematisation_editor/
lizard_qgis_plugin/
quick_map_services/
.DS_Store
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# pycharm
.idea/
.vscode
*.zip
plugin_reloader/i18n/plugin_reloader_de.qm
valuetool/ui_valuewidgetbase.ui
quick_map_services/icons/copy.svg
DataPlotly/core/core_utils.py
firstaid/__init__.py
firstaid/debuggerwidget.py
firstaid/debugwidget.py
firstaid/framesview.py
firstaid/handlers_qgis.py
firstaid/handlers_qt.py
firstaid/highlighter.py
firstaid/icon.png
firstaid/LICENSE
firstaid/metadata.txt
firstaid/sourceview.py
firstaid/variablesview.py
firstaid/icons/bug.svg
firstaid/icons/cursor-default-outline.svg
firstaid/icons/debug-step-into.svg
firstaid/icons/debug-step-out.svg
firstaid/icons/debug-step-over.svg
firstaid/icons/folder-outline.svg
firstaid/icons/play.svg
firstaid/icons/README.txt
firstaid/icons/record.svg
firstaid/icons/run.svg
threedi_models_and_simulations/_cached_data/breaches_70150_d9a0377efb0030cf3b6912012178ad86.json
lizard_qgis_plugin/__init__.py
lizard_qgis_plugin/communication.py
lizard_qgis_plugin/icon.svg
lizard_qgis_plugin/metadata.txt
lizard_qgis_plugin/utils.py
lizard_qgis_plugin/workers.py
lizard_qgis_plugin/deps/__init__.py
lizard_qgis_plugin/deps/alembic-1.14.1-py3-none-any.whl
lizard_qgis_plugin/deps/custom_imports.py
lizard_qgis_plugin/deps/GeoAlchemy2-0.15.2-py3-none-any.whl
lizard_qgis_plugin/deps/Mako-1.3.9-py3-none-any.whl
lizard_qgis_plugin/deps/SQLAlchemy-2.0.6-py3-none-any.whl
lizard_qgis_plugin/deps/threedi_mi_utils-0.1.9-py3-none-any.whl
lizard_qgis_plugin/deps/threedi_scenario_downloader-1.4-py3-none-any.whl
lizard_qgis_plugin/deps/typing_extensions-4.12.2-py3-none-any.whl
lizard_qgis_plugin/deps/threedi_schema/__init__.py
lizard_qgis_plugin/deps/threedi_schema/beta_features.py
lizard_qgis_plugin/deps/threedi_schema/scripts.py
lizard_qgis_plugin/deps/threedi_schema/application/__init__.py
lizard_qgis_plugin/deps/threedi_schema/application/errors.py
lizard_qgis_plugin/deps/threedi_schema/application/schema.py
lizard_qgis_plugin/deps/threedi_schema/application/threedi_database.py
lizard_qgis_plugin/deps/threedi_schema/application/upgrade_utils.py
lizard_qgis_plugin/deps/threedi_schema/domain/__init__.py
lizard_qgis_plugin/deps/threedi_schema/domain/constants.py
lizard_qgis_plugin/deps/threedi_schema/domain/custom_types.py
lizard_qgis_plugin/deps/threedi_schema/domain/indexes.py
lizard_qgis_plugin/deps/threedi_schema/domain/models.py
lizard_qgis_plugin/deps/threedi_schema/infrastructure/__init__.py
lizard_qgis_plugin/deps/threedi_schema/infrastructure/spatial_index.py
lizard_qgis_plugin/deps/threedi_schema/infrastructure/spatialite_versions.py
lizard_qgis_plugin/deps/threedi_schema/infrastructure/views.py
lizard_qgis_plugin/deps/threedi_schema/migrations/__init__.py
lizard_qgis_plugin/deps/threedi_schema/migrations/env.py
lizard_qgis_plugin/deps/threedi_schema/migrations/utils.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/__init__.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0200_initial.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0201_migrate_friction_type_4.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0202_remove_unused_tables.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0203_remove_unused_cols.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0204_reset_nullable_foreign_keys.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0205_settings_defaults.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0206_control_structures.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0207_fix_schema_constraints.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0208_tables_settings.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0209_remove_surface_type.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0210_global_raster_values.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0211_breach_and_exchange.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0212_breach_and_exchange_properties.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0213_connected_points_to_breaches.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0214_drop_cpoints_levees.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0215_groundwater_1d2d.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0216_vegetation_drag.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0217_rename_vegetation_columns.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0218_1d_vegetation_and_variable_friction.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0219_nullable_cross_section_location_friction_value.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0220_geopackage_compatiblility.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0221_remove_vegetation_drag_coeficients_col.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0222_upgrade_db_settings.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0223_upgrade_db_inflow.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0224_upgrade_db_structure_control.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0225_migrate_lateral_boundary_condition_tables.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0226_upgrade_db_1d_1d2d.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0227_fixups_structure_control.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0228_upgrade_db_1D.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0229_clean_up.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0230_reproject_geometries.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/0300_geopackage.py
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/data/0223_dry_weather_flow_distribution.csv
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/data/0223_surface_parameters_contents.json
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/data/0223_surface_parameters_id.csv
lizard_qgis_plugin/deps/threedi_schema/migrations/versions/data/0228_materials.csv
lizard_qgis_plugin/deps/threedi_schema/tests/__init__.py
lizard_qgis_plugin/deps/threedi_schema/tests/conftest.py
lizard_qgis_plugin/deps/threedi_schema/tests/test_beta_features.py
lizard_qgis_plugin/deps/threedi_schema/tests/test_custom_types.py
lizard_qgis_plugin/deps/threedi_schema/tests/test_gpkg.py
lizard_qgis_plugin/deps/threedi_schema/tests/test_migration_213.py
lizard_qgis_plugin/deps/threedi_schema/tests/test_migration_230_crs_reprojection.py
lizard_qgis_plugin/deps/threedi_schema/tests/test_schema.py
lizard_qgis_plugin/deps/threedi_schema/tests/test_spatalite_versions.py
lizard_qgis_plugin/deps/threedi_schema/tests/test_spatial_index.py
lizard_qgis_plugin/deps/threedi_schema/tests/test_upgrade_utils.py
lizard_qgis_plugin/deps/threedi_schema/tests/data/__init__.py
lizard_qgis_plugin/deps/threedi_schema-0.300.22.dist-info/entry_points.txt
lizard_qgis_plugin/deps/threedi_schema-0.300.22.dist-info/METADATA
lizard_qgis_plugin/deps/threedi_schema-0.300.22.dist-info/RECORD
lizard_qgis_plugin/deps/threedi_schema-0.300.22.dist-info/top_level.txt
lizard_qgis_plugin/deps/threedi_schema-0.300.22.dist-info/WHEEL
lizard_qgis_plugin/deps/threedi_schema-0.300.22.dist-info/licenses/LICENSE
lizard_qgis_plugin/widgets/__init__.py
lizard_qgis_plugin/widgets/lizard_archive_browser.py
lizard_qgis_plugin/widgets/settings.py
lizard_qgis_plugin/widgets/ui/lizard.ui
lizard_qgis_plugin/widgets/ui/raster_download_settings.ui
lizard_qgis_plugin/widgets/ui/settings.ui
